*{
    padding: 0;
    margin: 0;
    background-color: rgb(70, 68, 68);
    font-family: sans-serif;
    outline: none;
    box-sizing: border-box;
}

.cont{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cal{
    background: black;
    padding: 15px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4,70px);

}
input{
    grid-column: span 4;
    height: 70px;
    width: 265px;
    background-color: rgb(163, 157, 157);
    box-shadow: inset -5px -5px 12px gray,
                inset 5px 5px 12px rgb(35, 34, 34);
    border-radius: 30px;
    border: none;
    color: gray;
    font-size: 40px;
    text-align: end;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;


}
button{
    width: 40px;
    height: 40px;
    background-color: gray;
    box-shadow: inset -5px -5px 12px gray,
                inset 5px 5px 12px rgb(35, 34, 34);
    border: none;
    border-radius: 30px;
    margin: 12px;
    font-size: 16px;
}

.equal{
    width: 120px;
    border-radius: 20px;
    background-color: gray;
    box-shadow: inset -5px -5px 12px gray,
                inset 5px 5px 12px rgb(35, 34, 34);
}